<div class="meal-plans-container">
    <input type="date" 
        name="start-date" 
        placeholder="Enter start date"
        [(ngModel)]=startDate
        (change)="updateMealPlans(days)">
    <input type="number" 
        name="days" 
        placeholder="# of days"
        [(ngModel)]="days"
        min="1"
        max="7"
        (change)="updateMealPlans(days)">
    <div class="toggle-buttons">
        <button (click)="toggleMealPlans(true)" class="toggle-buttons__button">Expand All</button>
        <button (click)="toggleMealPlans(false)" class="toggle-buttons__button">Collapse All</button>
    </div>
    <mpl-meal-plan class="mpl-meal-plan"
        *ngFor="let mealPlan of mealPlans"
        [mealPlan]="mealPlan"></mpl-meal-plan>
</div>
