.toggle-buttons {
    margin-bottom: 2rem;
}

.toggle-buttons__button {
    margin-right: 1rem;
}

.meal-plans__container {
    display: grid;
    grid-template-columns: 14rem 1fr;
}

.meal-plans__active-panel {
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

.active-panel__date {
    margin: 0 0 2rem 0;
}

.meal-plan-selector {
    padding: .5rem;
    border: .1rem solid #333;
    border-bottom: 0;
}

.meal-plan-selector:last-child {
    border-bottom: .1rem solid #333;
}

.meal-plan-selector:hover {
    background-color: #efefef;
}

.meal-plan-selector__title {
    margin: 0;
    font-size: 1.2rem;
}
.meal-plan-selector.active {
    background-color: #333;
    color: #fff;
}