<div class="meal-plans-container">
    <input type="date" 
        name="start-date" 
        placeholder="Enter start date"
        [(ngModel)]=startDate
        (change)="updateMealPlans(days)">
    <input type="number" 
        name="days" 
        placeholder="# of days"
        [(ngModel)]="days"
        min="1"
        max="7"
        (change)="updateMealPlans(days)">
    <div class="display-buttons">
        <button class="back-one-week" (click)="updateMealPlans(days * -1)">BACK</button>
        <button class="back-one-day" (click)="updateMealPlans(-1)">back</button>
        <button class="today" (click)="updateMealPlans(0)">Today</button>
        <button class="forward-one-day" (click)="updateMealPlans(1)">next</button>
        <button class="forward-one-week" (click)="updateMealPlans(days)">NEXT</button>
    </div>
    <div class="toggle-buttons">
        <button (click)="toggleMealPlans(true)" class="toggle-buttons__button">Expand All</button>
        <button (click)="toggleMealPlans(false)" class="toggle-buttons__button">Collapse All</button>
    </div>
    <mpl-meal-plan class="mpl-meal-plan"
        *ngFor="let mealPlan of mealPlans; trackBy: trackByFn"
        [mealPlan]="mealPlan"
        (updated)="updateMealPlans()"></mpl-meal-plan>
</div>
